.mobile-message {
  display: none;
}
.header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;

}
.header.index {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.btn-yellow {
  background-color: #FFDC60;
  color:black;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .menu ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.header .menu li {
  display: inline;
  margin-right: 10px;
  color:#808080;
}
.header .menu li:hover {
  color:white;
}
.header .menu li.active {
  color:white;
}
.header .menu a {
  color:inherit;
  text-decoration: none;
}

.under-header {
  height: 5vh;
  display: flex;
  align-items: flex-end;
  background-color: black;
}

.under-header .nav-custom {
  width: 350px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.under-header .nav-custom .nav-item{
  width: 100%;
}
.under-header .nav-link {
  padding: 5px;
  color:white;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.under-header .nav-link .color {
  height: 5px;
  width: 5px;
  background-color: #FFDC60;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  align-self: flex-start;
}

.under-header .nav-link.active, .under-header .nav-link:hover {
  background-color: #363E48;
  color: white;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 85vh;
}
.main.index {
  background-color: black;
  color:white;
  font-family: 'Montserrat',sans-serif;
  align-items: center;
}
.main.index .title {
  font-weight: bold;
  font-size: 32px;
}
.main.index .desc {
  font-size: 16px;
  font-weight: 500;
}
.main.index button {
  font-weight: bold;
}

.main .left-side {
  background-color: #363E48;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.main .left-side .nav-custom {
  width: 100%;
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
}
.main .left-side .nav-link {
  padding: 5px;
  color:white;
  font-size: 12px;
}
.main .left-side .nav-link.active {
  background-color: white;
  color: black;
}

.main .left-side .input-group {
  width: 350px;
}
.main .left-side .search {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 0;
}
.main .left-side .btn-white {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color:#E0E0E0;
}
.main .left-side .chats {
  width: 100%;
}
.main .left-side .chats .item {
  height: 78px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.main .left-side .chats .item:hover {
  background-color: #404954;
}
.main .left-side .chats .item.selected {
  background-color: #404954;
}
.main .left-side .chats .item .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .left-side .chats .item .left .img {
  min-height: 50px;
  min-width: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-top:12.5px;
  padding-bottom:12.5px;
  padding-left: 17.2px;
  border-radius: 5px;
}
.main .left-side .chats .item .left .img .color {
  position: relative;
  left: 10px;
  bottom: 22px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #404954;
}
/* COLORS */
.main .left-side .chats .item .left .img .color.purple {
  background-color: #8970DD;
}
.main .left-side .chats .item .left .img .color.orange {
  background-color: #DDA670;
}
.main .left-side .chats .item .left .img .color.pink {
  background-color: #DD70D9;
}
.main .left-side .chats .item .left .img .color.blue {
  background-color: #70B7DD;
}
.main .left-side .chats .item .left .img .color.green {
  background-color: #A1DD70;
}
.main .left-side .chats .item .left .img .color.black {
  background-color: black;
}
.main .left-side .chats .item .left .img .color.white {
  background-color: white;
}
.main .left-side .chats .item .left .img .color.red {
  background-color: #DD7070;
}
/* COLORS END */
.main .left-side .chats .item .left .text {
  margin-left: 10px;
}
.main .left-side .chats .item .left .text .title{
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.main .left-side .chats .item .left .text .message{
  font-size: 10px;
  color:#808080;
  width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .left-side .chats .item .status {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  /*min-width: 25%;*/
}

.main .left-side .chats .item .right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.main .chat {
  background-color: #F2F7F7;
  display: flex;
  flex-direction: column;
  width : 60%;
}
.main .chat .messages {
  padding-right: 30px;
  padding-left: 30px;
  height: 100%;
}


.main .chat .info {
  padding-right: 30px;
  padding-left: 30px;
}
.main .chat .info .systems {
  color:#AAAAAA;
  text-align: center;
  margin-top: 20px;
}
.main .chat .info .systems p {
  padding: 0;
  margin: 0;
}
.main .chat .info .systems .msg {
  font-size: 14px;
}
.main .chat .info .systems .time {
  font-size: 12px;
}
.main .chat .messages .systems {
  color:#AAAAAA;
  text-align: center;
  margin-top: 20px;
}
.main .chat .messages .systems p {
  padding: 0;
  margin: 0;
}
.main .chat .messages .systems .msg {
  font-size: 14px;
}
.main .chat .messages .systems .time {
  font-size: 12px;
}
.main .chat .messages .client {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.main .chat .messages .client .msg {
  background-color: #91D5FF;
  color:white;
  font-size: 14px;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}
.main .chat .messages .client .msg .attachment {
  display: block;
  margin-top: 3px;
  cursor: pointer;
}
.main .chat .messages .admin .msg .attachment {
  display: block;
  margin-top: 3px;
  cursor: pointer;
}
.main .chat .messages .client .time {
  color:#AAAAAA;
  font-size: 12px;
  margin-left: 20px;
}
.main .chat .messages .admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.main .chat .messages .admin .msg {
  background-color: #63D381;
  color:white;
  font-size: 14px;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

.stub {
  width: 100%;
  margin-top: 30px;
}



.main .chat .messages .admin .time {
  color:#AAAAAA;
  font-size: 12px;
  margin-right: 20px;
}
.new-msg-separator {
  /* Чтобы спрятать часть линий, которые
  ** будут вылазить за пределы блока */
  overflow: hidden;
  /* Выравнивание заголовка по центру,
  ** можно использовать left, right */
  text-align: center;
  color: #E0E0E0;
  /* Тут можно добавить другие стили для заголовка */
  font-size: 14px;
  margin-top: 20px;
}
.new-msg-separator:before,
.new-msg-separator:after {
  /* Обязательно указываем пустое свойство content,
  ** иначе псевдоэлементы не появятся на сайте */
  content: "";
  /* Указываем что наши линии будут строчно-блочные и
  ** выравнивание по высоте - по центру */
  display: inline-block;
  vertical-align: middle;
  /* Задаем ширину 100% и выбираем высоту линии,
  ** в нашем примере она равна 4 пикселям */
  width: 100%;
  height: 1px;
  /* Добавляем цвет для линии */
  background-color: #E0E0E0;
  /* Добавляем пседоэлемантам возможность изменить
  ** позицию линии, для создания отступов от текста */
  position: relative;
}
.new-msg-separator:before {
  /* Смещаем левую линию на 100% влево, чтобы линия
  ** встала рядом с текстом слева */
  margin-left: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  left: -14px;
}
.new-msg-separator:after {
  /* Смещаем правую линию на 100% вправо, чтобы
  ** линия встала рядом с текстом справа */
  margin-right: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  right: -14px;
}
.main .input {
  /*height: 60px;*/
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  flex: 0 0 auto;
}
.main .input .left {
  display: flex;
  width: 100%;
  align-items: center;
}
.main .input .pin-file {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 40px;
}
.main .input .smiles {
  margin-left: 10px;
  color:#A0A0A0;
  font-size: 26px;
  cursor: pointer;
}
.main .input .button {
  margin-right: 20px;
}

.main .input .button:hover {
  cursor: pointer;
}
.main .input .msg {
  margin-left: 20px;
  width: 100%;
  margin-right: 20px;
}
.main .input .msg input:focus {
  outline:none;
}
.main .input .msg input {
  border:0;
  width: 100%;
}
/* FILE INPUT STYLE */
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 10px;
  /* 20px */
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 5 */

.inputfile-5 + label {
  color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #722040;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #d3394c;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #dfc8ca;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #722040;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}
.main .right-side {
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.main .right-side .top {
  text-align: center;
  margin-top: 40px;
}
.main .right-side .top .name{
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.main .right-side .top .desc {
  font-size: 14px;
  color:#5A5A5A;
  padding: 0;
  margin: 0;
}
.main .right-side .top .date {
  color:#5A5A5A;
  font-size: 12px;
}
.main .right-side hr {
  padding: 0;
  margin-top: 20px;
}
.main .right-side .information {
  display: block;
  margin-top: 20px;
}
.main .right-side .information .title {
  font-weight: bold;
  margin-bottom: 10px;
}
.main .right-side .information .items {
  color:#5A5A5A;
  font-size: 14px;
  padding: 0;
  margin-bottom: 10px;
}
.main .right-side .actions {
  display: block;
  margin-top: 20px;
}
.main .right-side .actions .title {
  font-weight: bold;
  margin-bottom: 10px;
}
.main .right-side .actions .buttons .btn-red{
  background-color: #DD7070;
  color:white;
  width: 100%;
  margin-bottom: 15px;
}
.main .right-side .actions .buttons .btn-blue{
  background-color: #70B7DD;
  color:white;
  width: 100%;
  margin-bottom: 15px;
}
.main .right-side .actions .buttons .btn-black{
  background-color: black;
  color:white;
  width: 100%;
  margin-bottom: 15px;
}
.main .right-side .categories {
  display: block;
  width: 210px;
}
.main .right-side .categories .title {
  font-size: 14px;
  color: #5A5A5A;
}
.main .right-side .categories .colors {
  display: flex;
  flex-direction: row;
}
.main .right-side .categories .color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.main .right-side .categories .color:hover {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.main .right-side .categories .color.active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.main .right-side .categories .color-white {
  background-color: white;
  border: 1px solid #E0E0E0;
}
.main .right-side .categories .color-green {
  background-color: #A1DD70;
}
.main .right-side .categories .color-blue {
  background-color: #70B7DD;
}
.main .right-side .categories .color-red {
  background-color: #DD7070;
}
.main .right-side .categories .color-pink {
  background-color: #DD70D9;
}
.main .right-side .categories .color-purple {
  background-color: #8970DD;
}

.main .right-side .categories .color-orange {
  background-color: #DDA670;
}
.main .right-side .categories .color-black {
  background-color: black;
}

/* MODAL NEW ADD */
.modal-show .modal {
  display: block;
  position: relative;
}
/* MODAL NEW ADD END */
.payments {
  padding-left: 20px;
  padding-top: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.form-check input, .form-check label{
  cursor: pointer!important;
}

.collapse_gradient .colors {
  cursor: pointer!important;
}

@media (max-width: 1000px) {
  .payments {
    padding-top: 144px;
  }
  .under-header .nav-custom {
    width: 100%;
  }
  .under-header .nav-link  {
    width: 100%;
  }
  .modal-login {
    width: auto;
  }
  .mobile-message {
    display: block;
  }
  .main .left-side .search input {
    width: 100%;
  }
  .header>.container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .menu {
    text-align: center;
    margin-top: 10px;
  }
  .header .buttons {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .dropdown-menu {
    width: 100%;
  }
  .header .buttons .btn-group {
    width: 100%;
  }
  .main {
    flex-wrap: wrap;
  }
  .main .left-side {
    width: 100%;
    height: auto;
  }
  .main .chat {
    width: 100%;
    height: auto;
  }
  .main .right-side {
    width: 100%;
    height: auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .left-side {
    width: auto;
  }
  .main .chat {
    width: 100%;
  }
  .main .right-side {
    min-width: 350px;
    width: auto;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1000px){
  .main .left-side {
    width: 100%;
    height: auto;
  }
  .main .chat {
    width: 100%;
    height: auto;
  }
  .main .right-side {
    width: 100%;
    height: auto;
  }
}
/* Chats - arozhnev */
.msg textarea {
  width: 100%;
  outline: none;
  border: none;
  overflow: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-top: 28px;
  max-height: 101px;
}
.msg textarea::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #F5F5F5;
}
.msg textarea::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}

.chats::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #F5F5F5;
}
.chats::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}

.messages::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #F5F5F5;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #F5F5F5;
}
.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}

.btn-black {
  background-color: black;
  color:white;
}
.btn-black:hover {
  color:white;
}
.btn-white {
  background-color: white;
  color:black;
}
.btn-white:hover {
  color:black;
}
.md-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.md-main {
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.md-np-main {
  margin-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  color:white;
}
.md-fp {
  font-size: 12px;
  color:#020202;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.md-fp:hover,.md-su:hover {
  color:black;
  text-decoration: none;
}
.md-su {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  font-weight: bold;
  color:#020202;

}
.mt-20 {
  margin-top: 20px;
}
.modal-np {
  background-color: #000000;
  border-radius: 10px;
}
.ps-text {
  font-size: 20px;
}


/* Settings page */
.main.ws {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 45vh;
}
.main .left-side .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Montserrat',sans-serif;
  align-items: center;
}
.main .left-side.ws .chats::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #363E48;
}
.main .left-side.ws .chats::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}
.main .left-side .top .title {
  color: white;
  font-weight: bold;
}
.main .left-side.ws .item {
  width: 320px;
}
.main .center.ws {
  background-color: #F2F7F7;
  display: flex;
  width: 100%;
  font-family: 'Montserrat',sans-serif;
}
.main .center.ws .title {
  font-size: 20px;
  font-weight: bold;
}
.main .center.ws .subtitle {
  font-size: 14px;
  color: #5A5A5A;
  display: block;
}
.collapse_color .colors {
  display: flex;
  flex-direction: row;
}
.collapse_color .colors .color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.collapse_color .colors .color:hover {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.collapse_color .colors .color.active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.collapse_color .colors .color-white {
  background-color: white;
  border: 1px solid #E0E0E0;
}
.collapse_color .colors .color-green {
  background-color: #A1DD70;
}
.collapse_color .colors .color-blue {
  background-color: #70B7DD;
}
.collapse_color .colors .color-red {
  background-color: #DD7070;
}
.collapse_color .colors .color-pink {
  background-color: #DD70D9;
}
.collapse_color .colors .color-purple {
  background-color: #8970DD;
}

.collapse_color .colors .color-orange {
  background-color: #DDA670;
}
.collapse_color .colors .color-black {
  background-color: black;
}

.collapse_color .colors .color-sitepower {
  background-color: #1f2836;
}

.collapse_gradient .colors {
  display: flex;
  flex-direction: row;
}
.collapse_gradient .colors .color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.collapse_gradient .colors .color:hover {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 15px;
}
.collapse_gradient .colors .color.active {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.collapse_gradient .colors .color-white {
  background: -moz-linear-gradient(45deg, #e8e8e8 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #e8e8e8 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #e8e8e8 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: 1px solid #E0E0E0;
}
.collapse_gradient .colors .color-green {
  background: -moz-linear-gradient(45deg, #a1dd70 0%, #9bed57 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #a1dd70 0%,#9bed57 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #a1dd70 0%,#9bed57 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dd70', endColorstr='#9bed57',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collapse_gradient .colors .color-blue {
  background: -moz-linear-gradient(45deg, #70b7dd 0%, #76d0ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #70b7dd 0%,#76d0ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #70b7dd 0%,#76d0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b7dd', endColorstr='#76d0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collapse_gradient .colors .color-red {
  background: -moz-linear-gradient(45deg, #de4343 0%, #dd7070 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #de4343 0%,#dd7070 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #de4343 0%,#dd7070 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4343', endColorstr='#dd7070',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collapse_gradient .colors .color-pink {
  background: -moz-linear-gradient(45deg, #dd70d9 0%, #ff84fb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #dd70d9 0%,#ff84fb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #dd70d9 0%,#ff84fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd70d9', endColorstr='#ff84fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collapse_gradient .colors .color-purple {
  background: -moz-linear-gradient(45deg, #8970dd 0%, #a386ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #8970dd 0%,#a386ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #8970dd 0%,#a386ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8970dd', endColorstr='#a386ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.collapse_gradient .colors .color-orange {
  background: -moz-linear-gradient(45deg, #dda670 0%, #ffae60 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #dda670 0%,#ffae60 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #dda670 0%,#ffae60 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dda670', endColorstr='#ffae60',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.collapse_gradient .colors .color-black {
  background: -moz-linear-gradient(45deg, #000000 0%, #464646 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000000 0%,#464646 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000000 0%,#464646 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#464646',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.collapse_gradient .colors .color-sitepower {
  background: -moz-linear-gradient(45deg, #2F324C 0%, #424869 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2F324C 0%, #424869 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2F324C 0%, #424869 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F324C', endColorstr='#424869',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.quicklink {
  margin-left: 10px;
  float: right;
  padding-top: 5px;
  font-size: 9px;
  text-decoration: none;
  border-bottom: 1px dashed;
  line-height: 14px;
}
.quicklink:hover {
  cursor: pointer;
}

.spinner-border {
  height: 1.5rem;
  width: 1.5rem;
}
.ml-13 {
  margin-left: 13px;
}
.right-side.ws {
  background-color: #303842;
  color:white;
  width: 500px;
}
.right-side.ws .title {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;
}
.bar.ws {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #303842;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.bar.ws .title {
  font-size: 16px;
  color:white;
  font-weight: bold;
  margin-right: 15px;
  font-family: 'Montserrat',sans-serif;
}
.table-block.ws {
  height: 30vh;
}
.table.ws {
  width: 100%;
}
.table.ws .thead-dark th {
  background-color: #495057;
}
.tableFixHead::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #363E48;
}
.tableFixHead::-webkit-scrollbar-thumb {
  background-color: #A0A0A0;
  border-radius: 10px;
}

.table-block .operator-row:hover {
  background-color: #A0A0A0;
  cursor: pointer;
}

.table-block .operator-row.selected {
  background-color: #A0A0A0;
}


.box-container {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  background: url(/static/images/arrow.png) 160px 160px no-repeat;
}
.box-container .text {
  position: absolute;
  width: 100%;
  bottom: 98px;
  text-align: center;
  padding: 0px 28px;
  color: #666666;
}
.box-container .box {
  background-color: #fff;
  position: absolute;
  border: 1px #e0e0e0 solid;
  cursor: pointer;
}
.box-container .box.top {
  top: 0px;
  background-color: #e0e0e0;
  cursor: default;
}
.box-container .box.bottom {
  bottom: 0px;
}
.box-container .box.left {
  left: 0px;
}
.box-container .box.right {
  right: 0px;
}
.box-container .box.top,
.box-container .box.bottom {
  width: 73px;
  height: 18px;
}
.box-container .box.top.padding-0,
.box-container .box.bottom.padding-0 {
  left: 18px;
}
.box-container .box.top.padding-50,
.box-container .box.bottom.padding-50 {
  left: 90px;
}
.box-container .box.top.padding-100,
.box-container .box.bottom.padding-100 {
  left: 162px;
}
.box-container .box.left,
.box-container .box.right {
  height: 73px;
  width: 18px;
}
.box-container .box.left.padding-0,
.box-container .box.right.padding-0 {
  top: 18px;
  cursor: default;
  background-color: #e0e0e0;
}
.box-container .box.left.padding-50,
.box-container .box.right.padding-50 {
  top: 90px;
}
.box-container .box.left.padding-100,
.box-container .box.right.padding-100 {
  top: 162px;
}
.box-container .box.active {
  background-color: #5695e9;
  cursor: default;
}
.box-container .box.top-left {
  top: 0px;
  left: 0px;
}
.box-container .box.top-center {
  top: 0px;
  left: 90px;
}
.box-container .box.top-right {
  top: 0px;
  left: 180px;
}
.box-container .box.middle-left {
  top: 90px;
  left: 0px;
}
.box-container .box.middle-center {
  top: 90px;
  left: 90px;
  cursor: default;
  background-color: #e0e0e0;
}
.box-container .box.middle-right {
  top: 90px;
  left: 180px;
}
.box-container .box.bottom-left {
  top: 180px;
  left: 0px;
}
.box-container .box.bottom-center {
  top: 180px;
  left: 90px;
}
.box-container .box.bottom-right {
  top: 180px;
  left: 180px;
}
.tableFixHead    { overflow-y: auto; }
.tableFixHead th.w1 { position: sticky; top: 0; /*z-index: 1000;*/ border-top:none;border-bottom: none; }


.section_whyus {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100px;
}
.section_whyus .desc {
  font-size: 16px;
  color:#A7A7A7;
  font-family: 'Montserrat',sans-serif;
  margin: 0;
}
.section_whyus .title {
  font-size: 16px;
  font-weight: bold;
  color:black;
  font-family: 'Montserrat',sans-serif;
  margin: 0;
}
.section_opportunities, .section_services {
  font-family: 'Montserrat',sans-serif;
}
.section_opportunities .title, .section_services .title {
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.section_opportunities .desc, .section_services .desc {
  font-size: 16px;
  color:#838383;
}
.mt-50 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.section_services .item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.16);
  padding: 30px;
}
.section_services .item .desc {
  font-size: 12px;
  color:#838383;
  margin-top: 15px;
}
.section_services .item .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
}
.section_services .item .top .text {
  margin-left: 15px;
}
.section_services .item .top .title{
  font-size: 18px;
  color:black;
}
.section_services .advantages {
  margin-bottom: 30px;
}
.section_services .advantages .adv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section_services .advantages .adv .check{
  color:#63D381;
}
.section_services .advantages .adv .text {
  margin-left: 10px;
  font-size: 12px;
  color:black;
}
.section_services .btn-outline-black {
  color:black;
  border-color: black;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.section_services .btn-outline-black:hover {
  background-color: black;
  color:white;
}
.section_services .btn-yellow {
  color:black;
  background-color: #FFDC60;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.section_services .btn-yellow:hover {
  background-color: #FFDC60;
  cursor: pointer;
  color:black;
}
.footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #7F7F7F;
  min-height: 250px;
  font-family: 'Montserrat',sans-serif;
}
.footer .title {
  font-size: 16px;
  font-weight: bold;
  color:black;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .f-link{
  text-decoration: none;
  color:black;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
}
.footer .phone {
  font-size: 20px;
  font-weight: bold;
  color:black;
  margin: 0;
  padding: 0;
}
.footer .adress {
  font-size: 12px;
  color:black;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}
.footer .copyright {
  font-size: 12px;
  color:black;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.mobile {
  display: none;
}
#chat {
  animation: levitate 0.8s infinite alternate;
}
.mobile-menu {
  width: 100%;
  z-index:1000;
  padding-right: 15px;
  padding-left: 15px;
  clear: both;
  white-space: nowrap;
  overflow-x: auto;
  background: black;
  color: #92969C;
  text-align: center;
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu li {
  display: inline;
  margin-right: 15px;
}
.mobile-menu li:hover {
  border-bottom: 2px solid #FFDC60;
}
.mobile-menu li.active {
  border-bottom: 2px solid #FFDC60;
  color:white;
}
.mobile-menu a {
  padding: 15px 0;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  vertical-align: bottom;
  overflow: hidden;
  text-align: center;
}
.mobile-menu a.active {
  color:white;
}
.mobile-menu a:hover {
  color: white;
}
#jPanelMenu-menu {
  background-color: black;
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
}
.jpanel-menu {
  width: 100%;
  clear: both;
  white-space: nowrap;
  background: black;
  color: #92969C;
  text-align: center;
}
.jpanel-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.jpanel-menu li {
  display: block;
  margin-top: 5px;
}
.jpanel-menu li:hover {
  border-bottom: 2px solid #FFDC60;
}
.jpanel-menu li.active {
  border-bottom: 2px solid #FFDC60;
  color:white;
}
.jpanel-menu a {
  padding: 15px 0;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  vertical-align: bottom;
  overflow: hidden;
  text-align: center;
}
.jpanel-menu a.active {
  color:white;
}
.jpanel-menu a:hover {
  color: white;
}
.jpanel-menu .buttons {
  display: block;
  width: 100%;
}
.jpanel-menu .buttons .btn {
  display: block;
  width: 100%;
  margin-top: 15px;
}
@keyframes levitate {
  0% {
    transform: translate(817px, 168px);
  }
  100% {
    transform: translate(817px, 175px);
  }
}

@media (max-width: 1000px) {
  .mobile-message {
    display: block;
  }
  .main .left-side .search input {
    width: 100%;
  }
  .header>.container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header {
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .under-header {
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 100;
  }

  .main {
    flex-direction: column;
    padding-top: 85px;
  }

  .header .menu {
    text-align: center;
    margin-top: 10px;
  }
  .header .buttons {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .dropdown-menu {
    width: 100%;
  }
  .header .buttons .btn-group {
    width: 100%;
  }
  .main, .main.ws {
    flex-wrap: wrap;
    height: auto;
  }
  .main .left-side {
    width: 100%;
    height: auto;
  }
  .main .chat {
    width: 100%;
    height: auto;
  }
  .main .right-side {
    width: 100%;
    height: auto;
  }
  .main .left-side.ws .item {
    width: 100%;
  }
  .bar.ws {
    width: 100%;
    height: 50px;
  }
  .table.ws {
    width: 100%;
    height: auto;
  }

  .main-text{
    text-align: center;
  }
  .main-text .title {
    font-size: 26px !important;
    font-weight: bold;
  }
  .main.index {
    padding-top: 120px;
  }
  .footer .phone {
    font-size: 16px;
  }
  .header.index>.container {
    justify-content: space-between;
  }
  .header.index .menu, .header.index .buttons {
    display: none;
  }
  .header.index .logo img {
    height: 32px;
  }
  .header.index {
    height: 15vh;
  }
  .section_whyus {
    align-items: center;
  }
  .section_whyus .desc {
    font-size: 12px;
  }
  .section_whyus .title {
    font-size: 12px;
  }
  .mobile {
    display: block;
  }
  .footer .adress, .footer .copyright {
    font-size: 10px;
  }
  .main.index .btn-light {
    width: 100%;
    margin-bottom: 30px;
  }
  .main.index .svg {
    display: none;
  }
  .main .left-side .search input {
    width: 100%;
  }
  .header>.container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header {
    height: auto;
  }
  .header .menu {
    text-align: center;
    margin-top: 10px;
  }
  .header .buttons {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .dropdown-menu {
    width: 100%;
  }
  .header .buttons .btn-group {
    width: 100%;
  }
  .main, .main.ws {
    flex-wrap: wrap;
    height: auto;
  }
  .main .left-side {
    width: 100%;
    height: auto;
  }
  .main .chat {
    width: 100%;
    height: auto;
  }
  .main.index {
    width: 100%;
    height: auto;
  }
  .main .right-side {
    width: 100%;
    height: auto;
  }
  .main .left-side.ws .item {
    width: 100%;
  }
  .bar.ws {
    width: 100%;
    height: 50px;
  }
  .table.ws {
    width: 100%;
    height: auto;
  }
  .section_services .item {
    text-align: center;
  }
  .section_services .item .top {
    justify-content: center;
  }
  .section_services .item .adv {
    justify-content: center;
  }

  .main .input {
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 100%;
    flex: 0 0 auto;
  }
  .main .input .left {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .main .input .pin-file {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .main .input .smiles {
    margin-left: 10px;
    color:#A0A0A0;
    font-size: 26px;
    cursor: pointer;
  }
  .main .input .button {
    margin-right: 20px;
  }
  .main .input .msg {
    margin-left: 20px;
    width: 100%;
    margin-right: 20px;
  }
  .main .input .msg input:focus {
    outline:none;
  }
  .main .input .msg input {
    border:0;
    width: 100%;
  }

  .main .chat .messages {
    padding-right: 30px;
    padding-left: 30px;
    flex: 1 0 auto;
    padding-bottom: 80px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .left-side {
    width: auto;
  }
  .main .chat {
    width: 100%;
  }
  .main .right-side {
    min-width: 350px;
    width: auto;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1000px){
  .main .left-side {
    width: 100%;
    height: auto;
  }
  .main .chat {
    width: 100%;
    height: auto;
  }
  .main .right-side {
    width: 100%;
    height: auto;
  }
}
/* AROZHNEV - custom */
.main .center .save-button {
  float: right;
  vertical-align: bottom;
  margin-top: 28px;
  background-color: #ffc107;
}
